#This is the env template

## The token from a Discord account used for the bot
BOT_TOKEN=""

#Discord environement
BOARD_ID = ""
BOARD_MESSAGE_ID = ""
BOOKMAKER_ROLE = ""
BOT_CHANNEL = ""
BOOKMAKER_CHANNEL =""

#Adress of the dbs
DB_ADRESS = ""
DB_RACING =""